<link href="../dist/css/bootstrap-colorpicker.css" rel="stylesheet">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<script src="../js/jquery-3.5.1.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../dist/js/bootstrap-colorpicker.js"></script>

<style>
    #edit-tools {
        position: absolute;
        box-shadow: 0px 0px 5px rgb(197, 196, 196);
        border-radius: 10px;
        padding: 4px 5px;
    }

    .item-box {
        height: 60px;
        line-height: 40px;
        text-align: center;
        position: relative;
        float: left;
    }

    .item-box:nth-child(1) {
        width: 40px;
    }

    .item-box:nth-child(2) {
        width: 60px;
    }

    .edit-tool-colorPen {
        border-radius: 50%;
        color: red;
        background-color: white;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        box-shadow: 0px 0px 5px gray;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        -webkit-user-select: none;
    }

    .edit-tool-backgroundColorPen {
        border-radius: 50%;
        color: white;
        background-color: red;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        box-shadow: 0px 0px 5px gray;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        -webkit-user-select: none;
    }

    .pen-item1,
    .pen-item2,
    .pen-item3,
    .pen-item4 {
        position: absolute;
        cursor: pointer;
        right: 2.25px;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        background-color: rgb(180, 180, 180);
        border-radius: 50%;
    }

    /* .pen-item4 {
        background-image: linear-gradient(to bottom right, red, yellow);
    } */

    .bc-item0 {
        position: absolute;
        cursor: pointer;
        left: calc(50% - 20px);
        top: calc(50% - 10px);
        width: 40px;
        height: 20px;
        transition: transform 0.2s;
    }

    .bc-item0-core {
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: brown;
        width: 15px;
        height: 15px;
        transition: transform 0.2s;
    }

    .bc-item0-up {
        position: absolute;
        right: 7px;
        top: calc(50% - 7px);
        width: 0px;
        height: 0px;
        border: 7px solid #000;
        border-left-color: blue;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-radius: 5px;
    }

    .bc-item0-down {
        position: absolute;
        left: 7px;
        top: calc(50% - 7px);
        width: 0px;
        height: 0px;
        border: 7px solid #000;
        border-right-color: blue;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-radius: 5px;
    }

    .bc-item0-up-go {
        animation: item0-up 0.15s;
        right: -7px;
    }

    .bc-item0-down-go {
        animation: item0-down 0.15s;
        left: -7px;
    }

    @keyframes item0-up {
        0% {
            right: 7px;
        }

        80% {
            right: -9px;
        }

        100% {
            right: -7px;
        }
    }

    @keyframes item0-down {
        0% {
            left: 7px;
        }

        80% {
            left: -9px;
        }

        100% {
            left: -7px;
        }
    }

    .bc-item1,
    .bc-item2,
    .bc-item3,
    .bc-item4 {
        position: absolute;
        cursor: pointer;
        left: calc(50% - 7.5px);
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        background-color: rgb(180, 180, 180);
        border-radius: 50%;
    }

    .bc-item0 {
        transform: rotateZ(-90deg);
    }

    .bc-item1,
    .pen-item1 {
        transform: rotateZ(180deg);
    }

    .bc-item2,
    .pen-item2 {
        transform: rotateZ(120deg);
    }

    .bc-item3,
    .pen-item3 {
        transform: rotateZ(60deg);
    }

    .bc-item4,
    .pen-item4 {
        transform: rotateZ(0deg);
    }

    .bc-item4>img,
    .pen-item4>img{
        width:100%;
        height: 100%;
    }
    .pen-item1:hover,
    .pen-item2:hover,
    .pen-item3:hover,
    .pen-item4:hover,
    .bc-item0-core:hover,
    .bc-item1:hover,
    .bc-item2:hover,
    .bc-item3:hover,
    .bc-item4:hover {
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

    .item0-go {
        animation: item0 0.15s;
        transform: rotateZ(-90deg) translateY(22px);
    }

    .item4-go {
        animation: item1 0.15s;
        transform: rotateZ(0deg) translateY(22px);
    }

    .item3-go {
        animation: item2 0.15s;
        transform: rotateZ(60deg) translateY(22px);
    }

    .item2-go {
        animation: item3 0.15s;
        transform: rotateZ(120deg) translateY(22px);
    }

    .item1-go {
        animation: item4 0.15s;
        transform: rotateZ(180deg) translateY(22px);
    }

    @keyframes item0 {
        0% {
            transform: rotateZ(-90deg) translateY(0px);
        }

        80% {
            transform: rotateZ(-90deg) translateY(25px);
        }

        100% {
            transform: rotateZ(-90deg) translateY(22px);
        }
    }

    @keyframes item1 {
        0% {
            transform: rotateZ(0deg) translateY(0px);
        }

        80% {
            transform: rotateZ(0deg) translateY(25px);
        }

        100% {
            transform: rotateZ(0deg) translateY(22px);
        }
    }

    @keyframes item2 {
        0% {
            transform: rotateZ(60deg) translateY(0px);
        }

        80% {
            transform: rotateZ(60deg) translateY(25px);
        }

        100% {
            transform: rotateZ(60deg) translateY(22px);
        }
    }

    @keyframes item3 {
        0% {
            transform: rotateZ(120deg) translateY(0px);
        }

        80% {
            transform: rotateZ(120deg) translateY(25px);
        }

        100% {
            transform: rotateZ(120deg) translateY(22px);
        }
    }

    @keyframes item4 {
        0% {
            transform: rotateZ(180deg) translateY(0px);
        }

        80% {
            transform: rotateZ(180deg) translateY(25px);
        }

        100% {
            transform: rotateZ(180deg) translateY(22px);
        }
    }

    #demo {
        position: absolute;
        right: 0px;
    }
</style>
<div>
    <div id="edit-tools" class="edit-tools">
        <div class="item-box pen-box">
            <div class="pen-item1"></div>
            <div class="pen-item2"></div>
            <div class="pen-item3"></div>
            <div class="pen-item4"><img src="../img/colors.png"/></div> <!-- 色彩选择 -->
            <div class="edit-tool-colorPen">A</div>
        </div>
        <div class="item-box bc-box">
            <div class="bc-item0">
                <div class="bc-item0-up"></div>
                <div class="bc-item0-down"></div>
                <div class="bc-item0-core"></div>
            </div>
            <div class="bc-item1"></div>
            <div class="bc-item2"></div>
            <div class="bc-item3"></div>
            <div class="bc-item4"><img src="../img/colors.png"/></div>
            <div class="edit-tool-backgroundColorPen">A</div>
        </div>
  
    </div>
    <script>
        var $q = jQuery.noConflict();
        $q(".pen-box").on("mouseenter", function () {
            $q(".pen-item1").addClass("item1-go")
            $q(".pen-item2").addClass("item2-go")
            $q(".pen-item3").addClass("item3-go")
            $q(".pen-item4").addClass("item4-go")
        })
        $q(".pen-box").on("mouseleave", function () {
            $q(".pen-item1").removeClass("item1-go")
            $q(".pen-item2").removeClass("item2-go")
            $q(".pen-item3").removeClass("item3-go")
            $q(".pen-item4").removeClass("item4-go")
        })

        $q(".bc-box").on("mouseenter", function () {
            $q(".bc-item0").addClass("item0-go")
            $q(".bc-item1").addClass("item1-go")
            $q(".bc-item2").addClass("item2-go")
            $q(".bc-item3").addClass("item3-go")
            $q(".bc-item4").addClass("item4-go")
        })
        $q(".bc-box").on("mouseleave", function () {
            $q(".bc-item0").removeClass("item0-go")
            $q(".bc-item1").removeClass("item1-go")
            $q(".bc-item2").removeClass("item2-go")
            $q(".bc-item3").removeClass("item3-go")
            $q(".bc-item4").removeClass("item4-go")
        })
        $q(".bc-item0").on("mouseenter", function (evt) {
            $q(".bc-item0-up").addClass("bc-item0-up-go")
            $q(".bc-item0-down").addClass("bc-item0-down-go")
        })
        $q(".bc-item0").on("mouseleave", function (evt) {
            $q(".bc-item0-up").removeClass("bc-item0-up-go")
            $q(".bc-item0-down").removeClass("bc-item0-down-go")
        })
     
        //cp.hide()
    </script>
</div>