<div class="edit-box">
    <div class="item-box pen-box">
        <div class="pen-item1 recentColor"></div>
        <div class="pen-item2 recentColor"></div>
        <div class="pen-item3 recentColor"></div>
        <div class="pen-item4"><img class="color-choose-item" src="../img/colors.png" /></div>
        <!-- 色彩选择 -->
        <div class="edit-tool-colorPen">A</div>
    </div>
    <div class="item-box bc-box">
        <div class="bc-item0">
            <div class="bc-item0-up"></div>
            <div class="bc-item0-down"></div>
            <div class="bc-item0-core"></div>
        </div>
        <div class="bc-item1 recentBackgroundColor"></div>
        <div class="bc-item2 recentBackgroundColor"></div>
        <div class="bc-item3 recentBackgroundColor"></div>
        <div class="bc-item4"><img class="color-choose-item" src="../img/colors.png" /></div>
        <div class="edit-tool-backgroundColorPen">A</div>
    </div>
    <div class="item-box del">
        <div class="edit-tool-del">
            <div class="del_icon"></div>
        </div>
    </div>
    <div id="colorpicker">
        <input id="colorValue">
    </div>
</div>